Django (1.11.5)
django-crispy-forms (1.6.1)
django-google-charts (0.1.1)
django-qsstats-magic (1.0.0)
olefile (0.44)
Pillow (4.2.1)
pip (9.0.1)
PyMySQL (0.7.11)
python-dateutil (2.6.1)
pytz (2017.2)
setuptools (36.4.0)
six (1.11.0)
wheel (0.30.0)
