Django==1.11.5
django-crispy-forms==1.6.1
django-filter==1.1.0
django-google-charts==0.1.1
django-qsstats-magic==1.0.0
djangorestframework==3.7.3
Markdown==2.6.9
olefile==0.44
Pillow==4.2.1
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.2
six==1.11.0
